<nav>
    <img src="#" alt="logo">
    <ul>
        <li><a href="#">Chat Now <i class="fa fa-comments"></i></a></li>
        <li><a href="#">Sign Up</a></li>
        <li><a href="#">Log In</a></li>
        <li><a href="#"><button><i class="fa fa-shopping-cart"></i></button></a></li>
    </ul>
</nav>
<section>
    <ul>
        <li><a href="#">All Menus</a></li>
        <li>></li>
        <li><a href="#">Dinner</a></li>
    </ul>
</section>
<section>
    <img src="#" alt="logo">
    <h2>Restaurant Name</h2>
    <span>Address</span>
</section>
{{outlet}}
<footer>
<ul>
    <li><a href="#"><i class="fa fa-twitter"> @restaurantname</i></a></li>
    <li><a href="#"><i class="fa fa-facebook-official"></i> Facebook</a></li>
</ul>
<ul>
    <li>Need Help?</li>
    <li><a href="#"><i class="fa fa-question-circle"> FAQ</i></a></li>
    <li><a href="#"><i class="fa fa-comment"> Chat With Us</i></a></li>
    <li><a href="#"><i class="fa fa-twitter"> @resturanthelp</i></a></li>
    <li><a href="#"><i class="fa fa-envelop"> help@restaurant.com</i></a></li>
</ul>
<ul>
    <li>Account</li>
    <li><a href="#">Sign Up</a></li>
    <li><a href="#">Log In</a></li>
</ul>
<ul>
    <li>Social</li>
    <li><a href="#"><i class="fa fa-facebook-official"></i> Facebook</a></li>
    <li><a href="#"><i class="fa fa-instagram"> Instagram</i></a></li>
    <li><a href="#"><i class="fa fa-twitter"> Twitter</i></a></li>
    <li><a href="#"><i class="fa fa-tumblr"> Tumblr Blog</i></a></li>
    <li><a href="#"><i class="fa fa-google-plus"> Google Plus</i></a></li>
</ul>
<ul>
    <li>Gift Cards</li>
    <li><a href="#">Buy</a></li>
    <li><a href="#">Redeem</a></li>
</ul>
<ul>
    <li>Company</li>
    <li><a href="#">Careers</a></li>
    <li><a href="#">Press</a></li>
    <li><a href="#">About Us</a></li>
    <li><a href="#">Privacy Policy</a></li>
    <li><a href="#">Terms of Use</a></li>
</ul>
<p>
    <span>Question about a charge on your card</span>
    OrderUp® Inc. powers online food ordering and credit card processing for quickservice restaurants. We operate in many markets and under different brand names. <a href="#">Learn More</a>
</p>
<div class="copyright"><img src="#" alt="logo"><i class="fa fa-copyright"></i> 2015 Restaurant <i class="fa fa-registered"></i> All rights reserved. Bringing Food to Your Mouth</div>
</footer>
